.main__cart {
    padding: 30px;
    border: 1px solid rgb(182, 182, 182);
    position: absolute;
    background: rgb(245, 245, 245);
    display: none;
    flex-direction: column;
    right: 0;
    top: 100px;
    gap: 100px;
    h2 {
        text-align:center;
    }
}
.products__info {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    &__productname {
        order: 1;
        display: flex;
        align-items: center;
    }
    &__qty {
        display: flex;
        align-items: center;
        order: 2;
    }
    &__sum {
        display: flex;
        align-items: center;
        order: 3;
    }
}