.main__cart {
    position: absolute;
    background: gray;
    display: flex;
    flex-direction: column;
    right: 0;
    top: 100px;
}
.products__info {
    border: 1px solid black;
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
}