.main__cart {
  padding: 30px;
  border: 1px solid rgb(182, 182, 182);
  position: absolute;
  background: rgb(245, 245, 245);
  display: none;
  flex-direction: column;
  right: 0;
  top: 100px;
  gap: 100px;
  h2, h3 {
    text-align: center;
  }
  &__finishproduct__btn {
    width: 110px;
  }
  button {
    display: flex;
    align-self: flex-end;
    max-width: 100px;
  }
}
.products__info {
  display: flex;
  flex-direction: column;
}
.cart {
  margin: 30px;
  display: grid;
  grid-auto-flow: column;
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  grid-auto-rows: minmax(140px, 1fr);
  &__productname {
    display: flex;
    align-items: center;
  }
  &__qty {
    display: flex;
    align-items: center;
  }
  &__sum {
    display: flex;
    align-items: center;
  }
}
.products__info__del {
  display: flex;
  justify-content: center;
  align-items: center;
  &Btn {
    display: flex;
    height: 2em;
    place-content: center center;
    flex-direction: column;
    width: 2em;
    cursor: pointer;
    z-index: 0;
    span {
      display: flex;
      height: 1px;
      background:rgb(0, 0, 0);
      opacity: 1;
      transition: transform .25s ease-in-out;
    }
    span:nth-child(1){
      transform: rotate(135deg);
    }
    span:nth-child(2){
      transform: rotate(-135deg);
    }
  }
}