@import url('https://fonts.googleapis.com/css?family=Patua+One|Rajdhani&display=swap');
.product__name__font {
    margin: 6px;
}
h1 {
    font-family: 'Rajdhani', sans-serif;
    font-size: 2.2rem;
}
h2, h3 {
    font-family: 'Rajdhani', sans-serif;
    font-size: 1.7rem;
}
h4, .products__info, button, p, .confirmation__info {
    font-family: 'Rajdhani', sans-serif;
    font-size: 1.0rem;
}