.main__header {
    padding: 40px;
    display: flex;
    justify-content: space-between;
}

// test
.nav {
    display: flex;
    place-items: center center;
}

.cart__btn {
    display: flex;
    flex-direction: column;
    place-content: center center;
    background: url('/varkrg/styles/images/cart.png') no-repeat center center;
    background-size: cover;
    cursor: pointer;
    width: 30px;
    height: 30px;

    &__num-bg {
        //display: none; JS ändrar detta för att ta fram och bort knappen
        display: none;
        justify-content: center;
        color: white;
        opacity: 80%;
        background: darkblue;
        width: 60%;
        height: 60%;
        border-radius: 30px;
    }
}