.products__wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(400px, 1fr));
    background: rgb(211, 209, 209);
}
.products {
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .btn {
        max-width: 60px;
    }
    select {
        max-width: 60px;
    }
}