.main__header {
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-items: center center;
}

.cart__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  place-content: center center;
  background: url("images/cart.png") no-repeat center center;
  background-size: cover;
  cursor: pointer;
  width: 30px;
  height: 30px;
}

.cart__btn__num-bg {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  opacity: 80%;
  background: darkblue;
  width: 60%;
  height: 60%;
  border-radius: 30px;
}

body {
  margin: 0;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.image__div {
  width: 100%;
}

.products__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: minmax(440px, 1fr);
  background: #d3d1d1;
}

@media (min-width: 600px) {
  .products__wrapper {
    -ms-grid-columns: (minmax(340px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  }
}

.products {
  border: 1px solid black;
  -webkit-box-shadow: 0px 0px 11px 1px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 11px 1px rgba(0, 0, 0, 0.75);
  background: white;
  margin: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.products .btn {
  border-radius: 12px;
  padding: 4px;
}

.products select {
  max-width: 60px;
}

.prod__info__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
}

.prod__info__wrapper__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.prod__info__wrapper__bottom {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(50px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product__price {
  margin: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.input__buttons-wrapper {
  max-height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.finish-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #d3d1d1;
}

.order-confirmation {
  border: 1px solid black;
  -webkit-box-shadow: 0px 0px 11px 1px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 11px 1px rgba(0, 0, 0, 0.75);
  background: white;
  margin: 1.5rem;
  padding: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.order-confirmation__summary {
  text-align: center;
}

.confirmation__items {
  margin: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.confirmation__info {
  margin: 30px;
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  grid-gap: 30px;
  -ms-grid-columns: (minmax(140px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  grid-auto-rows: minmax(140px, 1fr);
}

.confirmation__info__productname {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.confirmation__info__qty {
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.confirmation__info__sum {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.main__cart {
  padding: 30px;
  border: 1px solid #b6b6b6;
  position: absolute;
  background: whitesmoke;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  right: 0;
  top: 100px;
  gap: 100px;
}

.main__cart h2, .main__cart h3 {
  text-align: center;
}

.main__cart__finishproduct__btn {
  width: 110px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.main__cart button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
      align-self: flex-end;
  max-width: 100px;
}

.products__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.products__info__productname {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.products__info__qty {
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.products__info__sum {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.products__info__qty__output {
  margin-left: 10px;
  margin-right: 10px;
}

.cart {
  margin: 30px;
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  grid-gap: 30px;
  -ms-grid-columns: (minmax(140px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  grid-auto-rows: minmax(140px, 1fr);
}

.products__info__del {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.products__info__delBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 2em;
  place-content: center center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 2em;
  cursor: pointer;
  z-index: 0;
}

.products__info__delBtn span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 1px;
  background: black;
  opacity: 1;
  -webkit-transition: -webkit-transform .25s ease-in-out;
  transition: -webkit-transform .25s ease-in-out;
  transition: transform .25s ease-in-out;
  transition: transform .25s ease-in-out, -webkit-transform .25s ease-in-out;
}

.products__info__delBtn span:nth-child(1) {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.products__info__delBtn span:nth-child(2) {
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.product__name__font {
  margin: 6px;
}
/*# sourceMappingURL=style.css.map */